        <div class="row footer" itemscope itemtype="http://schema.org/Author">
          <div class="column two-thirds">
            <p class="about">
              <span itemprop="name"><span itemprop="givenName">Matt</span> <span itemprop="familyName">License</span></span><br>
              <span itemprop="alumniOf">Loughborough University</span> Computer Science and Mathematics graduate.<br>
              A blog about me learning things.<br>
              <span class="fa fa-envelope"></span> &#109;&#97;&#116;&#116;&#64;&#109;&#97;&#116;&#116;&#108;&#105;&#99;&#101;&#110;&#115;&#101;&#46;&#99;&#111;&#46;&#117;&#107;
            </p>
          </div>
          <div class="column third">
            <p class="external">
              <a href="https://github.com/MattLicense"><span class="fa fa-github"></span>GitHub</a>
              <a href="https://twitter.com/MattLicense"><span class="fa fa-twitter"></span>Twitter</a>
              <a href="https://plus.google.com/+MatthewLicense?rel=author"><span class="fa fa-google-plus"></span>Google+</a>
              <a href="http://www.linkedin.com/pub/matt-license/40/955/3a2"><span class="fa fa-linkedin"></span>LinkedIn</a>
            </p>
          </div>

          <script defer src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
          <script defer src="{{ site.baseurl }}/scripts/scripts.js"></script>
        </div>