          <div class="row dashed">
              <div class="column full">
                  <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
                      <a class="addthis_button_facebook" data-social="facebook"></a>
                      <a class="addthis_button_twitter" data-social="twitter"></a>
                      <a class="addthis_button_google_plusone_share" data-social="googleplus"></a>
                      <a class="addthis_button_linkedin" data-social="linkedin"></a>
                      <a class="addthis_button_reddit" data-social="reddit"></a>
                      <a class="addthis_button_hackernews" data-social="hackernews"></a>
                      <a class="addthis_button_email" data-social="email"></a>
                  </div>
                  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-537915ff761d5973"></script>
              </div>
          </div>