$primary-light: #5191BE;
$primary-dark: #1A537B;
$secondary-light: #FFD763;
$secondary-dark: #A68420;
$tertiary-light: #FF8D63;
$tertiary-dark: #A64420;

html, body {
  width: 100%;
  padding: 0;
  margin: 0;
  font: 100% 'Roboto';
  color: #000000;
}

a {
  color: $primary-dark;
}

.clearfix {
  zoom:1;
  &:before, &:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }
  &:after {
    clear: both;
  }
}

.dashed {
  border-bottom: 1px dashed #000000;
}