@import url("http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css");
@import url("http://fonts.googleapis.com/css?family=Raleway:400,700|Changa+One|Cutive+Mono|Lora:400,700,700italic,400italic");

$primary-dark: #57355e;
$primary-light: #EBD9F2;
$secondary-dark: #44723a;
$secondary-light: #C1DBA6;
$color3: #684738;
$color4: #3c687d;
$color5: #3e7088;

$serif-font: 'Raleway', sans-serif;
$sans-font: 'Lora', serif;
$display-font: 'Changa One', cursive;
$mono-font: 'Cutive Mono', monospace;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin margin-bottom() {
    margin: 0 0 1rem 0;
}

html, body {
    font: 90% $serif-font;
}

a, a:hover {
    color: $primary-dark;
    text-decoration: none;
}

.site {
    max-width: 40rem;
    width: 90%;
    margin: 0 auto;
}

.header {
    width: 100%;
    border-bottom: 2px $primary-dark solid;
    @include margin-bottom();

    .title {
        font: 2.5rem $display-font;
    }

    a.extra {
        @include border-radius(7px);
        background: $primary-light;
        color: $primary-dark;
        font: 100% $sans-font;
        font-weight: 700;
        display: inline-block;
        padding: 0.25rem 0.5rem;
        margin: 0.25rem;
    }
}

.pull-left {
    float: left;
}
.pull-right {
    float: right;
}

p {
    @include margin-bottom();
}

h1, h2 {
    margin: 0;
}

.post {
    @include margin-bottom();
    border-bottom: 1.5px dashed $primary-dark;

    h2, a.title {
        font: 1.75rem $serif-font;
        font-weight: 700;
        text-decoration: none;
        color: $secondary-dark;
    }

    a {
        color: $secondary-dark;
        font-weight: 700;
        text-decoration: underline;
    }

    a.more {
        line-height: 2rem;
    }

    p.meta {
        color: #C0C0C0;
        font-weight: 700;
    }

    p:last-of-type {
        margin-bottom: 2px;
    }
}

.footer {
    .contact {
        float: left;

        .external {
            text-align: right;
        }

        span.fa {
            margin-right: 5px;
            color: $secondary-dark;
        }

        a:hover {
            text-decoration: underline;

            span.fa {
                text-decoration: none;
            }
        }
    }
}

.highlight {
    font: 100% $mono-font;
}

pre {
    margin: 1rem 0;
    background: #D8D8D8;
    border: 1px solid #BEBEBE;
    display: block;
    overflow: hidden;

    code {
        font-family: $mono-font;
        overflow-x: scroll;
        width: 100%;
        display: block;

        span {
            display: inline-block;
        }
    }
}

code {
    background: #D8D8D8;
    border: 1px solid #BEBEBE;
    font-family: $mono-font;
}

/* Medium screens (640px) */
@media (min-width: 40rem) {
    html { font-size: 107.5%; }
    
    .footer {
        .contact {
            float: left;
        }
        .half {
            width: 50%;
        }
        .quarter {
            width: 25%;
        }
        .two-thirds {
            width: 67%;
        }
        .third {
            width: 33%;
        }
    }
}
 
/* Large screens (1024px) */
@media (min-width: 64rem) {
    html { font-size: 115%; }
}