$headers: (h1 3.5rem 0 5rem) (h2 1.5rem 0.4rem 2.5rem) (h3 1.2rem 0.4rem 2rem);
@each $header in $headers {
  $font-size: nth($header, 2);
  $margin-top: nth($header, 3);
  $line-height: nth($header, 4);

  #{nth($header, 1)} {
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size: auto;
    line-height: $font-size/2;
    margin-bottom: 0.5rem;
  }

  @media (min-width: 32px) {
    #{nth($header, 1)} {
      margin-top: $margin-top*0.8;
      font-size: $font-size*0.8;
      line-height: $line-height*0.8;
    }
  }

  @media (min-width: 40rem) {
    #{nth($header, 1)} {
      margin-top: $margin-top;
      font-size: $font-size;
      line-height: $line-height;
    }
  }
}

.row {
  width: auto;
  margin: 0px;
  padding: 0 1rem;

  @media (min-width: 32rem) {
    padding: 0 12.5%;
  }

  @media (min-width: 48rem) {
    padding: 0 16%;
  }

  .column {
    float: left;
    width: 100%;
    margin: 0px;

    @media (min-width: 32rem) {
      &.full { width: 100% }
      &.half { width: 50%; }
      &.quarter { width: 25%; }
      &.third { width: 33.3% }
      &.two-thirds { width: 66.7% }
    }
  }
}