.posts {
    .post {
      border-bottom: 1px dashed #000000;
    }
}

.post {
  padding-bottom: 0.5rem;

  .entry a {
    color: $tertiary-dark;
    font-style: italic;
  }

  a.more {
    float: right;
    font-weight: bold;
    display: block;
  }

  pre, code {
    background: #e8e8e8;
  }

  img {
    display: block;
    margin: 0 auto;
    width: auto;
    max-width: 100%;
  }

  .meta {
    margin-top: 0px;
    color: #c0c0c0;
    font: "Cutive Mono", monospace;
  }
}